[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "sh-todo"]
	path = sh-todo
	url = git@github.com:rej696/sh-todo.git
[submodule "distracked"]
	path = distracked
	url = git@github.com:rej696/distracked.git
